/* Estilos Generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}


/* Estilos del Nav */
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 35px 0px;
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu li a {
    margin: 0px 4px;
    padding: 5px 10px;
    color: #696969;
    position: relative;
    transition: all ease 0.3s;
}
.menu li a:hover,
.menu li a.active {
    color: #333333;
}
.menu li a::after {
    content: '';
    position: absolute;
    height: 3px;
    bottom: 0px;
    width: 0%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;
    background-color: #3641df;
    transition: all ease 0.3s;
}
.menu li a:hover::after,
.menu li a.active::after {
    width: 30%;
} 
.logo {
    font-size: 2rem;
    color: #333333;
    font-weight: 700;
}
.logo i {
    color: #3641df;
}
.book-now-btn {
    color: #202020;
    background: linear-gradient(48deg, rgb(174, 181, 254) 0%, rgb(215, 214, 255) 93%);
    font-weight: 600;
    width: 150px;
    height: 45px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    border-radius: 5px;
    transition: all ease 0.3s;
}
.book-now-btn:hover {
    transform: scale(1.05);
} 


/* Estilos del Main */
#main {
    max-width: 1200px;
    width: 90%;
    margin: 50px auto;
}
.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.main-img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: linear-gradient(48deg, rgb(174, 181, 254) 0%, rgb(215, 214, 255) 93%);
}
.main-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 500px;
    width: 100%;
}
.main-text strong {
    color: #333333;
    font-size: 0.9rem;
    background-color: #ebf1ff;
    height: 40px;
    padding: 0px 20px;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.main-text strong i {
    margin-left: 5px;
}
.main-text h1 {
    font-size: 3.6rem;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 4.3rem;
    margin: 15px 0px;
    color: #141316;
}
.main-text p {
    color: #696969;
}
.main-text a {
    width: 180px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;color: #1f1f1f;
    border-radius: 10px;
    font-weight: 600;
    background: linear-gradient(48deg, rgb(174, 181, 254) 0%, rgb(215, 214, 255) 93%);
    transition: all ease 0.3s;
}
.main-text a:hover {
    transform: scale(1.05);
}


/* Search */
.search-tour {
    border-radius: 80px;
    background-color: #fff;
    max-width: 1000px;
    margin: 50px auto;
    box-shadow: 8px 8px 30px rgba(29, 29, 29, 0.15);
}
.search-tour form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}
.t-search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-right: 20px;
}
.s-b-icon {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #242424;
    background-color: #e9e5ff;
    border-radius: 50%;
}
.t-search-box span {
    font-size: 1rem;
    font-weight: 500;
    color: #141316;
    margin-bottom: 4px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.s-b-input {
    display: flex;
    flex-direction: column;
    width: calc(100% - 60px);
}
.s-b-input span i {
    font-size: 0.6rem;
    margin-left: 5px;
}
.s-b-input input {
    border: 1px solid rgba(29, 29, 29, 0.03);
    padding: 5px 10px;
    background-color: #f9f8ff;
    width: 100%;
    outline: none;
}
.t-search-btn button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    color: #252525;
    background: linear-gradient(48deg, rgb(174, 181, 254) 0%, rgb(215, 214, 255) 93%);
}


/* Estilos de Trending */
#trending {
    background-color: #f9f9ff;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    padding: 50px 0px;
}
.trending-heading {
    max-width: 1200px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.trending-heading h2 {
    font-size: 2.4rem;
    color: #141314;
    font-weight: 700;
}
.trending-heading p {
    color: #696969;
    margin: 10px 0px;
}
.trending-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 90%;
    margin-top: 40px;
}
.trending-box {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid rgba(29, 29, 29, 0.01);
    transition: all ease 0.3s;
    margin-bottom: 60px;
}
.trending-box:hover {
    box-shadow: 8px 20px 30px rgba(0, 0, 0, 0.1);
}
.t-b-img {
    width: 100%;
    height: 100%;
    max-height: 190px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    overflow: hidden;
}
.t-b-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.t-b-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 20px 0px;
}
.t-b-text a {
    color: #1b1b1b;
    font-weight: 600;
    font-size: 1.2rem;
}
.t-b-text span {
    color: #696969;
    font-size: 0.8rem;
}
.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.t-price {
    font-size: 1.5rem;
    color: #363636;
    font-weight: 700;
    letter-spacing: 1px;
}
.t-book {
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #3641df;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all ease 0.3s;
}
.t-book:hover {
    color: #fff;
    background-color: #3641df;
}
.agency {
    background-color: #f1efff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
    width: 100%;
    margin-top: 15px;
}
.agency img {
    width: 25px;
    height: 25px;
    border-radius: 10px;
    margin-right: 10px;
    object-fit: cover;
    object-position: center;
}
.agency span {
    color: #474747;
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 1px;
}


/* Estilos de Destination */
#destination {
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto 70px auto;
}
.destination-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}
.destination-heading h2 {
    font-size: 2.4rem;
    color: #141314;
    font-weight: 700;
}
.destination-heading p {
    color: #696969;
    margin: 10px 0px;
}
.destination-box {
    width: 100%;
    height: 100%;
    max-width: 100%;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
.destination-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;    
    display: flex;
}
.d-b-text-container {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    background: linear-gradient(180deg, rgba(0,0,0,0.06) 0%, rgba(0,0,0,0.6) 100%);
}
.d-b-text-container .ratio {
    background-color: #fff;
    color: #1b1b1b;
    border-radius: 10px;
    width: 50px;
    height: 25px;
    font-size: 0.8rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
}
.d-b-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.d-b-text strong {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 1px;
}
.d-b-text span {
    color: #fff;
    font-size: 0.9rem;
    letter-spacing: 1px;
}
.destination-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1.3fr 0.7fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 550px;
    gap: 30px;
    margin: 40px 0px;
}
.d-b-2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.d-b-3 {
    grid-column: 3/5;
    /* grid-column-start: 3;
    grid-column-end: 5; */
}


/* Estilos de testimonials */
#testimonials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 90%;
    margin: 0px auto;
}
.testimonials-img {
    max-width: 500px;
    width: 100%;
}
.testimonials-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.testimonials-slider {
    max-width: 500px;
    width: 100%;
}
.testimonials-box-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    background-color: #fa479a;
    margin-left: 20px;
}
.testimonials-box {
    background-color: #fff;
    padding: 30px;
    border: 1px solid rgba(0, 0, 0, 0.06);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.06);
}
.testimonials-box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.testimonials-box-text {
    width: 80%;
}
.testimonials-box-text i {
    color: #3641df;
    font-size: 1.3rem;
}
.testimonials-box-text p {
    color: #696969;
    font-size: 0.9rem;
    letter-spacing: 1px;
    margin: 5px 0px 15px 0px;
}
.testimonials-box-text strong {
    color: #363636;
    font-weight: 700;
    letter-spacing: 1px;
}
.testimonials-slider .swiper-pagination {
    position: static !important;
}
.testimonials-slider .swiper-slide {
    padding: 20px;
}


/* Estilos de Subscribe */
#subscribe {
    min-height: 300px;
    max-width: 1200px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    margin: 50px auto;
    background-image: url(imgs/s-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}
#subscribe h3 {
    font-size: 2.5rem;
    color: #1b1b1b;
    letter-spacing: 1px;
    font-weight: 700;
    text-align: center;
}
#subscribe p {
    color: #333333;
    font-size: 0.9rem;
    letter-spacing: 1px;
}
#subscribe form {
    max-width: 450px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 30px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
}
#subscribe form input {
    border: none;
    outline: none;
    width: 100%;
    height: 40px;
    padding: 0px 20px;
}
#subscribe form button {
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #fa479a;
    color: #fff;
    border: none;
    outline: none;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}


/* Estilos de footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding: 50px 30px;
    flex-direction: column;
    background-color: #f9f9f9;
}
.footer-container {
    max-width: 1200px;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
    gap: 50px;
}
.footer-box strong {
    color: #363636;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
.footer-box p {
    color: #696969;
    font-size: 0.9rem;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
.footer-social {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.footer-social a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #fa479a;
    transition: all ease 0.3s;
}
.footer-social a:hover {
    background-color: #fa479a;
    color: #fff;
}
.footer-box ul {
    margin-bottom: 15px;
}
.footer-box ul li a {
    color: #696969;
    margin: 5px 0px;
    font-size: 0.9rem;
    letter-spacing: 1px;
    display: flex;
    justify-content: flex-start;
    transition: all ease 0.3s;
}
.footer-box ul li a:hover {
    color: #141316;
}
.footer-box {
    display: flex;
    flex-direction: column;
}
.footer-box span {
    color: #696969;
    margin: 6px 0px;
    font-size: 0.9rem;
}
.footer-box span i {
    color: #fa479a;
    margin-right: 6px;
}


/* Estilos del copyright */
.copyright {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    color: #3b3b3b;
    font-weight: 400;
    letter-spacing: 1px;
    background-color: #ececec;
    width: 100%;
}


/* Diseño Responsive */
.menu-btn,
.menu-icon {
    display: none;
}

@media (max-width:1100px) {
    .main-content {
        flex-direction: column-reverse;
    }
    .main-text {
        width: 100%;
        max-width: 100%;
        margin-top: 50px;
    }
}

@media (max-width:1000px) {
    .navigation {
        justify-content: space-between;
        padding: 20px;
        width: 100%;
        position: relative;
    }
    .menu-icon {
        display: block;
    }
    .navigation .menu {
        display: none;
        position: absolute;
        left: 0px;
        top: calc(100% - 1px);
        background-color: #fff;
        width: 100%;
        padding: 0px;
        margin: 0px;
        box-shadow: 2px 30px 30px rgba(0, 0, 0, 0.06);
    }
    .navigation .menu li {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    .navigation .menu li a {
        width: 100%;
        display: flex;
        align-items: center;
        margin: 0px;
        padding: 20px;
        border-bottom: 1px solid #e2e2e26e;
    }
    .menu li a::after {
        display: none;
    }
    .navigation .menu-icon {
        cursor: pointer;
        float: right;
        padding: 10px 0px;
        position: relative;
        user-select: none;
    }
    .navigation .menu-icon .nav-icon {
        background-color: #181818;
        display: block;
        position: relative;
        height: 2px;
        width: 25px;
        transition: all ease-out 0.2s;
    }
    .navigation .menu-icon .nav-icon::after,
    .navigation .menu-icon .nav-icon::before {        
        background-color: #181818;
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        transition: all ease-out 0.2s;
    }
    .navigation .menu-icon .nav-icon::after {
        top: 9px;
    }
    .navigation .menu-icon .nav-icon::before {
        top: -9px;
    }
    .navigation .menu-btn:checked ~ .menu-icon .nav-icon::after {
        top: 0px;
        transform: rotate(45deg);
    }
    .navigation .menu-btn:checked ~ .menu-icon .nav-icon::before {
        top: 0px;
        transform: rotate(-45deg);
    }
    .navigation .menu-btn:checked ~ .menu-icon .nav-icon {
        background-color: transparent;
    }
    .navigation .menu-btn:checked ~ .menu {
        display: block;
    }
    .destination-grid {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 1fr;
        height: auto;
        gap: 10px;
    }
    .d-b-3 {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .destination-box {
        height: 100%;
        max-height: 300px;
    }
    .d-b-2 {
        grid-row: 1/2;
    }
    #testimonials {
        flex-direction: column;
    }
    .footer-container {
        grid-template-columns: 1fr 1fr;
        gap: 20px;  
    }
}

@media (max-width:780px) {
    .search-tour form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .t-search-btn button {
        width: 100%;
        max-width: 100%;
        border-radius: 10px;
    }
    .search-tour {
        border-radius: 10px;
    }
    .main-text h1,
    .trending-heading h2,
    .destination-heading h2,
    #subscribe h3 {
        font-size: 1.8rem;
        line-height: 2rem;
    }
}

@media (max-width:600px) {
    .main-img {
        width: 300px;
        height: 300px;
    }
}

@media (max-width:550px) {
    .logo {
        font-size: 1.4rem;
    }
    .search-tour form {
        grid-template-columns: 1fr;
    }
    .testimonials-box {
        flex-direction: column;
        text-align: center;
    }
    .testimonials-box-img {
        margin-top: 10px;
        margin-left: 0px;
    }
}

@media (max-width:370px) {
    .footer-container {
        grid-template-columns: 1fr;
    }
    .main-img {
        width: 250px;
        height: 250px;
    }
    .book-now-btn {
        display: none;
    }
    .search-tour form {
        padding: 10px;
    }
}